#### Discrete Simulation HW2
#### Problem 3
Authored: Austin Jetrin Maddison 6481268

In [1]:
from my_settings import *

a.)

In [59]:
def monty_hall(N, max_doors=3, max_cars=1, switch=True):
    max_cars = min(max_cars, max_doors)
    correct = np.zeros(N, dtype=bool)
    doors = np.arange(max_doors)
    
    for i in range(N):
        cars = np.random.choice(doors, size=max_cars, replace=False)
        my_choice = [np.random.randint(0, max_doors)]
        available_doors = np.setdiff1d(doors, np.union1d(cars, my_choice))

        host_open = np.random.choice(available_doors, size=1, replace=False)
        
        if switch:
            remaining_doors = np.setdiff1d(doors, host_open )
            remaining_doors = np.setdiff1d(remaining_doors, my_choice)
            
            my_choice = np.random.choice(remaining_doors, size=1, replace=False)
            
        correct[i] = my_choice in cars
    
    return np.mean(correct)

In [60]:
monty_hall(500000, max_doors=3, max_cars=1)

0.667056

In [61]:
monty_hall(500000, max_doors=5, max_cars=2)

0.5333

In [70]:
import itertools
import pandas as pd

def calc_perms(input):
  
    return list(set(itertools.permutations(input)))

def generate_truth_table(input):
    perms = calc_perms(input)
    table = []

    for perm in perms:
        is_car = [int(char == 'c') for char in perm]  # 1 if 'c', otherwise 0
        table.append(is_car)
    print(table)
    
    df = pd.DataFrame(table, index=perms, columns=[f'Door {i+1}' for i in range(len(input))])
    return df.transpose()

In [ ]:

for x in calc_perms('ccggg'):
    s = ''
    for c in x:
        s += c
    print(s, end='\t')

In [90]:

for x in calc_perms('ccg'):
    s = ''
    for c in x:
        s += c
    print(s, end='\t')

ccg	gcc	cgc

In [89]:

for x in calc_perms('cgg'):
    s = ''
    for c in x:
        s += c
    print(s, end='\t')

gcg	cgg	ggc

In [78]:
df = generate_truth_table('ccggg')
df

[[0, 0, 0, 1, 1], [1, 1, 0, 0, 0], [0, 1, 1, 0, 0], [0, 1, 0, 0, 1], [0, 0, 1, 0, 1], [1, 0, 0, 0, 1], [0, 0, 1, 1, 0], [0, 1, 0, 1, 0], [1, 0, 0, 1, 0], [1, 0, 1, 0, 0]]

,"(g, g, g, c, c)","(c, c, g, g, g)","(g, c, c, g, g)","(g, c, g, g, c)","(g, g, c, g, c)","(c, g, g, g, c)","(g, g, c, c, g)","(g, c, g, c, g)","(c, g, g, c, g)","(c, g, c, g, g)"
Door 1,0,1,0,0,0,1,0,0,1,1
Door 2,0,1,1,1,0,0,0,1,0,0
Door 3,0,0,1,0,1,0,1,0,0,1
Door 4,1,0,0,0,0,0,1,1,1,0
Door 5,1,0,0,1,1,1,0,0,0,0

In [79]:
total_outcomes = df.size
picked_car_outcomes = df.sum().sum()
print('# picked C 1st outcomes =', picked_car_outcomes)
print('# picked G 1st outcomes =', total_outcomes - picked_car_outcomes)
print('# total outcomes =', total_outcomes)

# picked C 1st outcomes = 20
# picked G 1st outcomes = 30
# total outcomes = 50

In [85]:
df = generate_truth_table('cgg')

total_outcomes = df.size
picked_car_outcomes = df.sum().sum()
print('# picked C 2nd outcomes =', picked_car_outcomes)
print('# picked G 2nd outcomes =', total_outcomes - picked_car_outcomes)
print('# total outcomes =', total_outcomes)
df

[[0, 1, 0], [1, 0, 0], [0, 0, 1]]
# picked C 1st outcomes = 3
# picked G 1st outcomes = 6
# total outcomes = 9

        (g, c, g)  (c, g, g)  (g, g, c)
Door 1          0          1          0
Door 2          1          0          0
Door 3          0          0          1

In [87]:
df = generate_truth_table('ccg')

total_outcomes = df.size
picked_car_outcomes = df.sum().sum()
print('# picked C 2nd outcomes =', picked_car_outcomes)
print('# picked G 2nd outcomes =', total_outcomes - picked_car_outcomes)
print('# total outcomes =', total_outcomes)
df

[[1, 1, 0], [0, 1, 1], [1, 0, 1]]
# picked C 2nd outcomes = 6
# picked G 2nd outcomes = 3
# total outcomes = 9

        (c, c, g)  (g, c, c)  (c, g, c)
Door 1          1          0          1
Door 2          1          1          0
Door 3          0          1          1